In [1]:
import pandas as pd
import csv
df=pd.read_csv('part1submission.csv')

In [2]:
df.tail()

,Unnamed: 0,days,user_id,age,gender,location,timeslot,gameid,gener
89995,89995,10,1000,28,3,1,5,20,6
89996,89996,10,1000,28,3,1,6,14,4
89997,89997,10,1000,28,3,1,7,4,1
89998,89998,10,1000,28,3,1,8,19,6
89999,89999,10,1000,28,3,1,9,1,1

In [3]:
df.columns.values

array(['Unnamed: 0', 'days', 'user_id', 'age', 'gender', 'location',
       'timeslot', 'gameid', 'gener'], dtype=object)

In [4]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [5]:
df

       days  user_id  age  gender  location  timeslot  gameid  gener
0         1        1   25       1        16         1       7      2
1         1        1   25       1        16         2       3      1
2         1        1   25       1        16         3      13      4
3         1        1   25       1        16         4       9      3
4         1        1   25       1        16         5      15      5
...     ...      ...  ...     ...       ...       ...     ...    ...
89995    10     1000   28       3         1         5      20      6
89996    10     1000   28       3         1         6      14      4
89997    10     1000   28       3         1         7       4      1
89998    10     1000   28       3         1         8      19      6
89999    10     1000   28       3         1         9       1      1

[90000 rows x 8 columns]

In [6]:

data2=df.groupby(['user_id','age','gender','location','days', 'timeslot','gameid','gener']).size()

In [7]:
data2.head(30)

user_id  age  gender  location  days  timeslot  gameid  gener
1        25   1       16        1     1         7       2        1
                                      2         3       1        1
                                      3         13      4        1
                                      4         9       3        1
                                      5         15      5        1
                                      6         5       2        1
                                      7         12      4        1
                                      8         5       2        1
                                      9         20      6        1
                                2     1         6       2        1
                                      2         9       3        1
                                      3         3       1        1
                                      4         4       1        1
                                      5         12      4        1
                                      6         4       1        1
                                      7         16      5        1
                                      8         10      3        1
                                      9         13      4        1
                                3     1         18      6        1
                                      2         12      4        1
                                      3         5       2        1
                                      4         11      3        1
                                      5         9       3        1
                                      6         10      3        1
                                      7         7       2        1
                                      8         2       1        1
                                      9         4       1        1
                                4     1         17      5        1
                                      2         16      5        1
                                      3         10      3        1
dtype: int64

In [8]:
data2.to_csv('input.csv')

In [9]:
data2.tail(30)

user_id  age  gender  location  days  timeslot  gameid  gener
1000     28   3       1         7     7         7       2        1
                                      8         20      6        1
                                      9         10      3        1
                                8     1         10      3        1
                                      2         11      3        1
                                      3         4       1        1
                                      4         6       2        1
                                      5         19      6        1
                                      6         19      6        1
                                      7         6       2        1
                                      8         3       1        1
                                      9         2       1        1
                                9     1         16      5        1
                                      2         3       1        1
                                      3         1       1        1
                                      4         18      6        1
                                      5         17      5        1
                                      6         17      5        1
                                      7         15      5        1
                                      8         1       1        1
                                      9         19      6        1
                                10    1         17      5        1
                                      2         2       1        1
                                      3         20      6        1
                                      4         12      4        1
                                      5         20      6        1
                                      6         14      4        1
                                      7         4       1        1
                                      8         19      6        1
                                      9         1       1        1
dtype: int64

In [10]:
data2.groupby(["user_id", "gameid"]).count().sort_values().groupby(level=0).tail(1)

user_id  gameid
797      13         6
603      1          6
625      20         6
589      13         6
246      4          7
                   ..
665      1         14
211      8         14
673      6         14
918      15        14
796      7         16
Length: 1000, dtype: int64

In [11]:
data3=data2.groupby(["user_id", "gameid"]).count().sort_values().groupby(level=0).tail(1)
data3.to_csv('summary.csv')

In [12]:
data2.groupby(["user_id", "gameid"]).count().max(level=0)

C:\Users\CRYSTAL\AppData\Local\Temp\ipykernel_8948\2651674274.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.median(level=1) should use df.groupby(level=1).median().
  data2.groupby(["user_id", "gameid"]).count().max(level=0)

user_id
1        9
2       11
3        7
4        9
5        9
        ..
996      9
997      9
998      7
999      9
1000     8
Length: 1000, dtype: int64

In [13]:
data4=data2.groupby(["user_id", "gameid"]).count().max(level=0)
data4.to_csv('maxgamecountuserid.csv')

C:\Users\CRYSTAL\AppData\Local\Temp\ipykernel_8948\3157933851.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.median(level=1) should use df.groupby(level=1).median().
  data4=data2.groupby(["user_id", "gameid"]).count().max(level=0)

In [14]:
data2.groupby(["user_id", "gener"]).count()

user_id  gener
1        1        24
         2        12
         3        11
         4        17
         5        15
                  ..
1000     2        17
         3        10
         4        11
         5        12
         6        14
Length: 6000, dtype: int64

In [15]:
data44=data2.groupby(["user_id", "gener"]).count

In [16]:
data2.groupby(["user_id", "gameid"]).count()

user_id  gameid
1        1         1
         2         9
         3         8
         4         6
         5         6
                  ..
1000     16        2
         17        6
         18        5
         19        5
         20        4
Length: 19816, dtype: int64

In [17]:
data66=data2.groupby(["user_id", "gameid"]).count()
data66.to_csv('useridgameid.csv')